 {% extends 'base.html' %} {% block title%}首页{% endblock %} {% block content %}
<nav class='fiexd-top'>
    <div class="container">

        <ul class='nav nav-home pull-left'>
            <li><a href="">代码音乐</a></li>
        </ul>
        <ul class='nav nav-tabs pull-right'>
            <li class='pull-left active'>首页</li>
            <li class='pull-left'>栏目</li>
            <li class='pull-left'>关于</li>
        </ul>
    </div>
</nav>
<div class='container content'>

    <div class="text-content">
        hahahah
    </div>
    <div class="text-content">
        hahahah
    </div>
    <div class="text-content">
        hahahah
    </div>
    <div class="text-content">
        hahahah
    </div>


</div>

<footer>


</footer>

{% endblock %}